#include<stdio.h>
getinput(int m, int n)
{
        printf("enter the 2 numbers\n");
        scanf("%d %d",&m,&n);
}
int add(int u, int v)
{
        int s;
        s=u=v;
        reyurn s;
}
int output(int a,int b)
{
        int sum;
        sum=add(a,b);
        printf("sum= %d",sum);
}
void main()
{
        int x,y;
        getinput(x,y);
        output(x,y);
}
                                          
